<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="internal-nlog.log">

  <!-- define various log targets -->

  <variable name="layout"
            value="${longdate} ${pad:padding=5:inner=${level:uppercase=true}} ${processid} ${pad:padding=3:inner=${threadid}} ${logger} ${message} ${exception:format=tostring}" />

  <targets>
    <default-wrapper xsi:type="BufferingWrapper" bufferSize="100" flushTimeout="1000" />
    <!-- write logs to file -->
    <target name="file" xsi:type="File"
            layout="${var:layout}"
            fileName="logs/${shortdate}/${level}.log"
            archiveFileName="logs/${shortdate}/${level}.{####}.log"
            archiveAboveSize="1048576"
            archiveNumbering="Sequence"
            concurrentWrites="true"
            keepFileOpen="false"
            encoding="utf-8"
            archiveEvery="Day" />

    <!-- write logs to console -->
    <target name="console" xsi:type="ColoredConsole"
            layout="${var:layout}"
            encoding="utf-8"
            useDefaultRowHighlightingRules="true" />

  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="file,console" />
  </rules>
</nlog>